body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  background-image: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 700;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  width: 50%;
  max-width: 700px;
  margin-top: 60px;
  outline: 2px solid hsl(217, 16%, 45%);
  border-radius: 20px;
  padding: 25px;
}

.score-div {
  margin-top: 13px;
  text-align: center;
  background-color: hsl(0, 0%, 95%);
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  max-height: 90px;
}

.score {
  margin-top: 14px;
  color: hsl(229, 64%, 46%);
}

.score-number {
  color:hsl(229, 25%, 31%);
  font-size: 35px;
  margin-top: -25px
}

.play-div {
  margin-top: 100px;
  background-image: url('./assets/images/bg-pentagon.svg');
  background-size: contain;
  background-repeat: no-repeat; /* pentagon 1,97 ratio */
  width: 380px;
}

.play {
  --border-color : black;
  background-color: white;
  border-radius: 50%;
  border: 15px solid var(--border-color);
  padding: 20px;
  max-width: 50px;
}

.play-icon {
  width: 45px;
  height: 4vh;
}

.scissors {
  position: relative;
  top: -30px;
  left: 130px;
  --border-color: hsl(39, 89%, 49%);
}

.spock {
  position: relative;
  top: -40px;
  left: -40px;
  --border-color: hsl(189, 59%, 53%);
}

.play-icon.spock-svg {
  margin-left: 5px;
}

.paper {
  position: relative;
  top: -150px;
  left: 300px;
  --border-color: hsl(230, 89%, 62%);
}

.lizard {
  position: relative;
  top: -40px;
  left: 15px;
  --border-color: hsl(261, 73%, 60%);
}

.rock {
  position: relative;
  top: -150px;
  left: 245px;
  --border-color: hsl(349, 71%, 52%);
}

.rules {
  position: absolute;
  background-color: inherit;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 20px;
  border: 2px solid hsl(217, 16%, 45%);
  border-radius: 10px;
  color: white;
  left: 85vw;
  top: 85vh;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.rule-div {
  position: absolute;
  top: 170px;
  left: 750px;
  z-index: 1;
  background-color: hsl(0, 0%, 95%);
  padding: 40px;
  padding-top: 20px;
  border-radius: 20px;
  color: hsl(229, 25%, 31%);
  width: 350px;
  height: 400px;
}

.close-rule {
  width: 30px;
  height: 30px;
  margin-top: 20px;
}

.white {
  color: hsl(0, 0%, 95%);
}

.big-svg {
  width: 100px;
  height: 100px;
  position: relative;
  left: 40px;
  top: 35px;
}

.big {
  position: static;
  max-width: 100%;
  width: 180px;
  height: 180px;
  border-width: 35px;
}

.playedGame {
  margin-top: 90px;
  width: 750px;
  justify-content: space-around;
}

h3.pick-text {
  text-align: center;
  margin-bottom: 40px;
}

.emptyIcon {
  background-color: rgb(1, 18, 56);
  width: 220px;
  height: 220px;
  border-radius: 50%;
  opacity: 40%;
  margin-top: 75px;
  animation: flip 1s linear 0s infinite;
}

@keyframes flip {
  from {
    transform: rotateY(0deg)
  }
  to {
    transform: rotateY(360deg);
  }
}

.play-again {
  margin-top: 130px;
  text-align: center;
}

.game-finished-text {
  font-size: 40px;
  color: white;
}

.play-again-btn {
  padding: 15px;
  padding-left: 50px;
  padding-right: 50px;
  border: 0px;
  border-radius: 10px;
  margin-top: -40px;
  margin-left: 50px;
  margin-right: 50px;
}

.game-finished {
  width: 50vw;
}

.win {
  box-shadow: 
    0 0 50px 2px hsl(225, 60%, 30%),
    0 0 100px 35px hsl(225, 60%, 20%),
    0 0 200px 5px hsl(225, 60%, 10%);
}


@media screen and (max-width: 850px) {
  .big {
    width: 120px;
    height: 120px;
  }

  .emptyIcon {
    width: 150px;
    height: 150px;
  }

  .big-svg {
    width: 70px;
    height: 70px;
    margin-left: -20px;
    margin-top: -10px;
  }

  .big-svg.spock-svg {
    position: relative;
    left: 25px;
  }

  .game-finished-text {
    font-size: 25px;
  }
  .playedGame {
    width: 500px;
  }
  .rules {
    left: 75vw;
    top: 90vh;
  }
}

@media screen and (max-width: 750px) {

  header {
    margin-top: 15px;
    margin-bottom: -20px;
  }
  
  .logo {
    width: 100px;
    height: 100px;
  }

  .big {
    width: 80px;
    height: 80px;
  }

  .playedGame {
    width: 450px;
    margin-bottom: 150px;
  }
  .play {
    border-width: 20px;
  }
  .big-svg {
    width: 60px;
    height: 60px;
    margin-left: -30px;
    margin-top: -25px;
  }

  .emptyIcon {
    margin-top: 50px;
  }

  .big-svg.spock-svg {
    position: relative;
    left: 10px;
  }

  .game-finished-text {
    font-size: 20px;
  }
  .play-again {
    margin-top: 100px;
  }

  .play-again-btn {
    padding: 0px;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 45px;
    margin-right: 45px;
  }

  .pick-text {
    font-size: 15px;
  }
  .play-div {
    margin-bottom: -100px;
  }
  .rules {
    position: static;
  }
}

@media screen and (max-width: 600px){
  .rules {
    position: static;
  }

  .playedGame {
    width: 100%;
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 45px;
    margin-top: 30px;
  }

  .play-again {
    margin-top: 0px;
    grid-column: 1/3;
    grid-row: 2;
  }

  .game-finished-text {
    margin-top: 20px;
    font-size: 45px;
  }

  .play-again-btn {
    padding: 20px;
    font-size: 15px;
    padding-left: 80px;
    padding-right: 80px;
  }

  .play-div {
    margin-bottom: -120px;
  }

  .playedGame {
    margin-top: 50px;
    margin-bottom: -30px;
  }

  .logo {
    width: 80px;
    height: 80px;
  }

  header {
    border-radius: 5px;
    width: 340px;
  }

  .score-div {
    width: 30px;
    height: 60px;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .score {
    margin: 0px;
    margin-left: -10px;
    margin-top: 8px;
  }
  .score-number {
    margin: 0px;
    font-size: 20px;
  }
}
@media screen and (max-width: 500px) {

  .play-div {
    margin-top: 80px;
    width: 300px;
    margin-bottom: 30px;
  }

  .play-icon {
    width: 25px;
    height: 3vh;
  }

  .play {
    width: 20px;
    height: 20px;
    border-width: 10px;
  }

  .scissors {
    top: -30px;
    left: 120px;
  }
  
  .spock {
    top: -20px;
    left: -30px;
  }
  .play-icon {
    margin-left: -4px;
    margin-top: -2px;
  }

  .play-icon.spock-svg {
    margin-left: 0px;
  }
  
  .paper {
    top: -100px;
    left: 250px;
  }
  
  .lizard {
    top: -10px;
    left: 25px;
  }
  
  .rock {
    top: -90px;
    left: 205px;
  }

  .big {
    width: 80px;
    height: 80px;
    border-width: 15px;
  }

  .big-svg {
    width: 60px;
    height: 60px;
    margin-left: -30px;
    margin-top: -25px;
  }

  .emptyIcon {
    margin-top: 45px;
  }

  .big-svg.spock-svg {
    position: relative;
    left: 10px;
  }
}
/* 460 initial screen @media */

@media screen and (max-width: 400px) {
  header {
    width: 280px;
  }
  .logo {
    width: 60px;
    height: 60px;
  }
  .score-div {
    margin: 0px;
    width: 80px;
    padding: 0px;
  }
  .score {
    margin: 0px;
    margin-top: 10px;
    font-size: 14px;
  }
  .score-number {
    font-size: 18px;
  }
}