body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  background-image: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  width: 50%;
  max-width: 700px;
  margin-top: 60px;
  outline: 2px solid hsl(217, 16%, 45%);
  border-radius: 20px;
  padding: 25px;
}

.score-div {
  margin-top: 13px;
  text-align: center;
  background-color: hsl(0, 0%, 95%);
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  max-height: 90px;
}

.score {
  margin-top: 14px;
  color: hsl(229, 64%, 46%);
}

.score-number {
  color:hsl(229, 25%, 31%);
  font-size: 35px;
  margin-top: -25px
}

.play-div {
  margin-top: 70px;
  background-image: url('./assets/images/bg-pentagon.svg');
  background-size: contain;
  background-repeat: no-repeat; /* pentagon 1,97 ratio */
  width: 380px;
}

.play {
  --border-color : black;
  background-color: white;
  border-radius: 50%;
  border: 15px solid var(--border-color);
  padding: 20px;
  max-width: 50px;
}

.play-icon {
  width: 45px;
  height: 4vh;
}

.scissors {
  position: relative;
  top: -30px;
  left: 130px;
  --border-color: hsl(39, 89%, 49%);
}

.spock {
  position: relative;
  top: -40px;
  left: -40px;
  --border-color: hsl(189, 59%, 53%);
}

.play-icon.spock-svg {
  margin-left: 5px;
}

.paper {
  position: relative;
  top: -150px;
  left: 300px;
  --border-color: hsl(230, 89%, 62%);
}

.lizard {
  position: relative;
  top: -40px;
  left: 15px;
  --border-color: hsl(261, 73%, 60%);
}

.rock {
  position: relative;
  top: -150px;
  left: 245px;
  --border-color: hsl(349, 71%, 52%);
}

.rules {
  background-color: inherit;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 20px;
  border: 2px solid hsl(217, 16%, 45%);
  border-radius: 10px;
  color: white;
  margin-left: 70vw;
}

.flex {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
}

.rule-div {
  position: absolute;
  top: 170px;
  left: 750px;
  z-index: 1;
  background-color: hsl(0, 0%, 95%);
  padding: 40px;
  padding-top: 20px;
  border-radius: 20px;
  color: hsl(229, 25%, 31%);
}

.close-rule {
  width: 30px;
  height: 30px;
  margin-top: 20px;
}

.white {
  color: hsl(0, 0%, 95%);
}
